/* line 17, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 22, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 24, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 26, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}
/* line 94, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 28, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 6, ../sass/storepages.scss */
.top-head {
  width: 100%;
  background: #e7e6e6;
}
/* line 10, ../sass/storepages.scss */
.top-head img {
  display: block;
  margin: 0 auto;
}

/* line 16, ../sass/storepages.scss */
#page-container {
  font-family: Arial,Helvetica,sans-serif;
}

/* line 18, ../sass/storepages.scss */
#header {
  min-width: 1200px;
  background: #fff;
}
/* line 22, ../sass/storepages.scss */
#header .head-left {
  float: left;
  min-width: 900px;
}
/* line 27, ../sass/storepages.scss */
#header .head-right {
  padding: 8px 15px 0 0;
  float: right;
}
/* line 32, ../sass/storepages.scss */
#header .logo {
  padding: 38px 25.5px 0;
  float: left;
}
/* line 37, ../sass/storepages.scss */
#header .sub-head {
  margin-top: 10px;
  height: 25px;
}
/* line 41, ../sass/storepages.scss */
#header .sub-head ul {
  height: 25px;
  font-size: 12px;
}
/* line 45, ../sass/storepages.scss */
#header .sub-head ul a {
  color: #999;
  text-decoration: none;
}
/* line 50, ../sass/storepages.scss */
#header .sub-head ul li {
  float: left;
  border-right: 1px solid #999;
  padding-right: 7px;
  margin-right: 7px;
}
/* line 56, ../sass/storepages.scss */
#header .sub-head ul li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 65, ../sass/storepages.scss */
#header .search {
  background-color: #1985d1;
  min-width: 725px;
  position: relative;
  float: left;
  padding: 3px;
  border-radius: 5px;
}
/* line 73, ../sass/storepages.scss */
#header .search .search-box {
  font-family: Arial,Helvetica,sans-serif;
  width: 631px;
  height: 27px;
  padding: 0 0 0 29px;
  line-height: 28px;
  font-size: 14px;
  color: #999;
  left: 0;
  top: 0;
  cursor: text;
  margin: 0;
  font-weight: normal;
  border: none;
  background-color: #fff;
  float: left;
}
/* line 91, ../sass/storepages.scss */
#header .search .search-btn {
  cursor: pointer;
  height: 27px;
  width: 80px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-color: #fdb173 #a4502c #a4502c #fdb173;
  display: inline-block;
  background: #fe9e43;
  background: -moz-linear-gradient(top, #fe9e43 0, #ff7341 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe9e43), color-stop(100%, #ff7341));
  background: -webkit-linear-gradient(top, #fe9e43 0, #ff7341 100%);
  background: -o-linear-gradient(top, #fe9e43 0, #ff7341 100%);
  background: -ms-linear-gradient(top, #fe9e43 0, #ff7341 100%);
  background: linear-gradient(top, #fe9e43 0%, #ff7341 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9e43',endColorstr='#ff7341',GradientType=0);
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 20px;
  text-decoration: none;
  float: left;
  position: absolute;
  right: 4px;
}
/* line 119, ../sass/storepages.scss */
#header .search .search-btn:hover {
  background: #f4963d;
  background: -moz-linear-gradient(top, #ff7341 0, #fe9e43 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7341), color-stop(99%, #fe9e43));
  background: -webkit-linear-gradient(top, #ff7341 0, #fe9e43 99%);
  background: -o-linear-gradient(top, #ff7341 0, #fe9e43 99%);
  background: -ms-linear-gradient(top, #ff7341 0, #fe9e43 99%);
  background: linear-gradient(top, #ff7341 0%, #fe9e43 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7341',endColorstr='#fe9e43',GradientType=0);
}

/* line 135, ../sass/storepages.scss */
#page-content .main-content {
  width: 980px;
  margin: 0 auto;
}
/* line 141, ../sass/storepages.scss */
#page-content .search-content h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #0055a7;
}
/* line 148, ../sass/storepages.scss */
#page-content .sub-nav {
  padding: 20px 0;
  margin: 10px 8px 20px 0;
  width: 100%;
  background: #eee;
}
/* line 154, ../sass/storepages.scss */
#page-content .sub-nav .nav {
  width: 980px;
  margin: 0 auto;
}
/* line 160, ../sass/storepages.scss */
#page-content .left {
  float: left;
}
/* line 161, ../sass/storepages.scss */
#page-content .right {
  float: right;
}
/* line 164, ../sass/storepages.scss */
#page-content .find-sears h2 {
  margin-bottom: 0;
}
/* line 166, ../sass/storepages.scss */
#page-content .find-sears h3 {
  color: #499cb5;
  font-size: 10px;
}
/* line 173, ../sass/storepages.scss */
#page-content .find-sears-search input {
  float: left;
  margin: 0 8px 0 0;
  padding: 6.5px;
  font-family: arial;
  font-size: 11px;
}
/* line 180, ../sass/storepages.scss */
#page-content .find-sears-search input.zip-city-state {
  width: 250px;
}
/* line 183, ../sass/storepages.scss */
#page-content .find-sears-search ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-weight: normal;
}
/* line 186, ../sass/storepages.scss */
#page-content .find-sears-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: normal;
}
/* line 189, ../sass/storepages.scss */
#page-content .find-sears-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: normal;
}
/* line 192, ../sass/storepages.scss */
#page-content .find-sears-search :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-weight: normal;
}
/* line 196, ../sass/storepages.scss */
#page-content .find-sears-search .go {
  cursor: pointer;
  background: #f7c433;
  width: 16px;
  height: 12px;
  padding: 7px 5px;
  font-size: 10px;
  border-radius: 20px;
  float: left;
  margin: 1.5px 8px 0 0;
  font-weight: bold;
}
/* line 208, ../sass/storepages.scss */
#page-content .find-sears-search .go:hover {
  background: #eb833a;
}
/* line 210, ../sass/storepages.scss */
#page-content .find-sears-search .go a {
  color: #fff;
  text-decoration: none;
}
/* line 218, ../sass/storepages.scss */
#page-content .location-hours-table .day {
  font-weight: bold;
  padding-right: 10px;
  text-transform: lowercase;
}
/* line 223, ../sass/storepages.scss */
#page-content .location-hours-table .day:first-letter {
  text-transform: uppercase;
}

/* line 229, ../sass/storepages.scss */
.store-search-page h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 234, ../sass/storepages.scss */
.store-search-page #search-content-body {
  width: 980px;
  margin: 0 auto;
  font-size: 11px;
  color: #666;
  height: 414px;
}
/* line 241, ../sass/storepages.scss */
.store-search-page #search-content-body li {
  height: 414px;
}
/* line 242, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-appliances {
  background: url("../images/sears-appliances.png") no-repeat;
}
/* line 243, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-sports {
  background: url("../images/sears-sport-fitness.png") no-repeat;
}
/* line 244, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-electronics {
  background: url("../images/sears-electronics.png") no-repeat;
}
/* line 245, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-family {
  background: url("../images/sears-family.png") no-repeat;
}
/* line 246, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-garden {
  background: url("../images/sears-garden.png") no-repeat;
}
/* line 247, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-outdoors {
  background: url("../images/sears-outdoors.png") no-repeat;
}
/* line 248, ../sass/storepages.scss */
.store-search-page #search-content-body .sears-fashion {
  background: url("../images/sears-fashion.png") no-repeat;
}
/* line 252, ../sass/storepages.scss */
.store-search-page .find-sears {
  position: absolute;
  top: 100px;
  left: 25.5px;
}
/* line 258, ../sass/storepages.scss */
.store-search-page .find-sears-search {
  float: left;
  width: 775px;
}
/* line 263, ../sass/storepages.scss */
.store-search-page .sears-nearby {
  font-size: 11px;
  width: 100%;
  background: url("../images/sears-nearby-bg.png") repeat;
  padding: 15px 25.5px 20px;
  position: absolute;
  top: 283px;
}
/* line 271, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-nearby-content {
  width: 980px;
  margin: 0 auto;
}
/* line 276, ../sass/storepages.scss */
.store-search-page .sears-nearby h2 {
  width: 980px;
  margin: 0 auto 20px;
}
/* line 281, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store {
  float: left;
  padding: 0 35px;
}
/* line 285, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store.sears-store-1 {
  padding-left: 0;
}
/* line 286, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store.sears-store-4 {
  padding-right: 0;
}
/* line 288, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store h1 {
  font-weight: bold;
  font-size: 12px;
  position: relative;
}
/* line 293, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store h1 a {
  text-decoration: none;
  color: #0055a7;
}
/* line 297, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store h1 a:hover {
  color: #E31837;
}
/* line 300, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store h1 .local-website {
  position: absolute;
  top: 0px;
  right: -17px;
}
/* line 307, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store h4 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #E31837;
  text-transform: uppercase;
}
/* line 316, ../sass/storepages.scss */
.store-search-page .sears-nearby .sears-store .store-foot .see-map {
  text-decoration: none;
  color: #067bb5;
}

/* line 325, ../sass/storepages.scss */
.store-results-page {
  margin: 0px;
  padding: 0px;
}
/* line 331, ../sass/storepages.scss */
.store-results-page #page-content .find-sears h2 {
  float: left;
  padding-top: 5px;
  margin-right: 20px;
}
/* line 337, ../sass/storepages.scss */
.store-results-page #page-content .find-sears input {
  width: 500px;
  float: left;
}
/* line 344, ../sass/storepages.scss */
.store-results-page .results-sidebar {
  float: left;
  width: 372px;
  font-size: 12px;
}
/* line 349, ../sass/storepages.scss */
.store-results-page .results-sidebar .result {
  margin-bottom: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 356, ../sass/storepages.scss */
.store-results-page .results-sidebar .results-sidebar-header {
  margin-bottom: 20px;
}
/* line 359, ../sass/storepages.scss */
.store-results-page .results-sidebar .results-sidebar-header h1 {
  font-weight: bold;
  font-size: 15px;
  float: left;
}
/* line 365, ../sass/storepages.scss */
.store-results-page .results-sidebar .results-sidebar-header .large {
  font-size: 20px;
}
/* line 368, ../sass/storepages.scss */
.store-results-page .results-sidebar .location {
  margin-right: 10px;
  padding: 1px;
}
/* line 372, ../sass/storepages.scss */
.store-results-page .results-sidebar .location a {
  cursor: pointer;
  color: #000;
}
/* line 375, ../sass/storepages.scss */
.store-results-page .results-sidebar .location a:hover {
  text-decoration: none;
}
/* line 378, ../sass/storepages.scss */
.store-results-page .results-sidebar .location:hover {
  border: 1px solid #eee;
  padding: 0px;
}
/* line 382, ../sass/storepages.scss */
.store-results-page .results-sidebar .location:hover .number {
  padding: 0;
}
/* line 385, ../sass/storepages.scss */
.store-results-page .results-sidebar .location .location-info {
  cursor: pointer;
}
/* line 388, ../sass/storepages.scss */
.store-results-page .results-sidebar .location .location-info .location-link {
  color: #0055a7;
}
/* line 391, ../sass/storepages.scss */
.store-results-page .results-sidebar .location .location-info .location-link:hover {
  text-decoration: underline;
}
/* line 396, ../sass/storepages.scss */
.store-results-page .results-sidebar .location-address {
  background: url("../images/sears-location-pin.png") no-repeat;
  padding: 10px 10px 10px 40px;
}
/* line 400, ../sass/storepages.scss */
.store-results-page .results-sidebar .location-address .number {
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  left: 16px;
  top: 15px;
  color: #fff;
  padding: 1px;
}
/* line 409, ../sass/storepages.scss */
.store-results-page .results-sidebar .location-address .number.double-digit {
  left: 12.5px;
}
/* line 411, ../sass/storepages.scss */
.store-results-page .results-sidebar .location-address .number.triple-digit {
  left: 10.5px;
  top: 17px;
  font-size: 9px;
}
/* line 418, ../sass/storepages.scss */
.store-results-page .results-sidebar .location-address:hover {
  background-color: #e8f3fa;
  cursor: pointer;
}
/* line 425, ../sass/storepages.scss */
.store-results-page .results-sidebar-content {
  overflow: hidden;
  position: absolute;
}
/* line 431, ../sass/storepages.scss */
.store-results-page .result h1, .store-results-page .result h2 {
  color: #0055a7;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
/* line 438, ../sass/storepages.scss */
.store-results-page .result h2 {
  margin-bottom: 3px;
}
/* line 440, ../sass/storepages.scss */
.store-results-page .result a {
  color: #0055a7;
  text-decoration: none;
  font-size: 11px;
}
/* line 445, ../sass/storepages.scss */
.store-results-page .result a:hover {
  text-decoration: underline;
}
/* line 449, ../sass/storepages.scss */
.store-results-page .right {
  padding: 0 10px 0 20px;
  text-align: right;
}
/* line 454, ../sass/storepages.scss */
.store-results-page .location {
  position: relative;
}
/* line 456, ../sass/storepages.scss */
.store-results-page .result {
  font-size: 11px;
}
/* line 459, ../sass/storepages.scss */
.store-results-page .result h1, .store-results-page .result h2 {
  line-height: 14px;
  width: 210px;
}
/* line 465, ../sass/storepages.scss */
.store-results-page .location-info {
  padding-top: 10px;
}
/* line 467, ../sass/storepages.scss */
.store-results-page .location-footer {
  margin-top: 10px;
  width: 320px;
  padding-left: 40px;
}
/* line 472, ../sass/storepages.scss */
.store-results-page .location-footer span {
  background: #f7c433;
  padding: 2px 5px;
  font-size: 9px;
  border-radius: 5px;
  margin: 0 2px 2px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
}
/* line 486, ../sass/storepages.scss */
.store-results-page #results-map {
  width: 580px;
  float: right;
  height: 478px;
}
/* line 491, ../sass/storepages.scss */
.store-results-page #results-map .result {
  width: 320px;
}
/* line 494, ../sass/storepages.scss */
.store-results-page #results-map .result h1, .store-results-page #results-map .result h2 {
  font-size: 16px;
  line-height: 18px;
}

/* line 504, ../sass/storepages.scss */
.store-location-page #page-content .sub-nav {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
/* line 510, ../sass/storepages.scss */
.store-location-page #page-content .sub-nav a {
  color: #0055a7;
  text-decoration: none;
}
/* line 515, ../sass/storepages.scss */
.store-location-page #page-content .sub-nav .divide {
  padding: 0 5px;
}
/* line 519, ../sass/storepages.scss */
.store-location-page .main-content {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/* line 524, ../sass/storepages.scss */
.store-location-page .page-head {
  border-bottom: 2px solid orange;
}
/* line 526, ../sass/storepages.scss */
.store-location-page .left-content {
  width: 600px;
  float: left;
  padding: 20px 40px 0 40px;
}
/* line 532, ../sass/storepages.scss */
.store-location-page .right-content {
  width: 280px;
  float: right;
  padding: 20px 10px 0 10px;
  background: #eee;
  height: 500px;
}
/* line 540, ../sass/storepages.scss */
.store-location-page h1, .store-location-page h2, .store-location-page h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 542, ../sass/storepages.scss */
.store-location-page h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
/* line 548, ../sass/storepages.scss */
.store-location-page h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #0055a7;
}
/* line 555, ../sass/storepages.scss */
.store-location-page h3 {
  font-size: 22px;
  float: left;
  margin-right: 30px;
  color: #0055a7;
}
/* line 563, ../sass/storepages.scss */
.store-location-page .location-info a {
  color: #0055a7;
}
/* line 566, ../sass/storepages.scss */
.store-location-page .location-address {
  font-size: 13px;
}
/* line 569, ../sass/storepages.scss */
.store-location-page .location-address .left {
  font-weight: bold;
}
/* line 572, ../sass/storepages.scss */
.store-location-page .location-description {
  margin-top: 20px;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* line 578, ../sass/storepages.scss */
.store-location-page .location-description a {
  text-decoration: none;
}
/* line 581, ../sass/storepages.scss */
.store-location-page .location-specifics {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  line-height: 20px;
}
/* line 588, ../sass/storepages.scss */
.store-location-page .location-services-list {
  float: left;
  padding-right: 10px;
}
/* line 593, ../sass/storepages.scss */
.store-location-page .location-featured-msg {
  background: #fff;
  width: 220px;
  padding: 20px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #ddd;
  min-height: 59px;
  position: relative;
}
/* line 604, ../sass/storepages.scss */
.store-location-page .location-featured-msg .circle {
  background: #eb833a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  float: left;
  top: 12px;
}
/* line 615, ../sass/storepages.scss */
.store-location-page .location-featured-msg .circle span {
  position: absolute;
  top: 19px;
  left: 1px;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  -webkit-transform: rotate(-28deg);
  text-align: center;
}
/* line 628, ../sass/storepages.scss */
.store-location-page .location-featured-msg .msg {
  padding-left: 86px;
}

/* scrollbar CSS */
/* line 633, ../sass/storepages.scss */
.ps-container .ps-scrollbar-x {
  display: none;
}

/* line 635, ../sass/storepages.scss */
.ps-container .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 5px;
  background-color: #aaa;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition-property: width;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 647, ../sass/storepages.scss */
.ps-container.ie .ps-scrollbar-y {
  font-size: 0;
  /* fixed scrollbar height in xp sp3 ie6 */
}

/* line 652, ../sass/storepages.scss */
.ps-container:hover .ps-scrollbar-y,
.ps-container.hover .ps-scrollbar-y {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 658, ../sass/storepages.scss */
.ps-container .ps-scrollbar-y:hover,
.ps-container .ps-scrollbar-y.hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: default;
}

/* line 664, ../sass/storepages.scss */
.ps-container .ps-scrollbar-y.in-scrolling {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* line 678, ../sass/storepages.scss */
.cf {
  zoom: 1;
}
/* line 671, ../sass/storepages.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 675, ../sass/storepages.scss */
.cf:after {
  clear: both;
}

/* scroller */
/* line 682, ../sass/storepages.scss */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
/* line 690, ../sass/storepages.scss */
ul.bjqs .bjqs-slide {
  position: absolute;
  display: none;
}
/* line 695, ../sass/storepages.scss */
ul.bjqs .bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
/* line 701, ../sass/storepages.scss */
ul.bjqs .bjqs-controls.v-centered li {
  position: absolute;
}
/* line 704, ../sass/storepages.scss */
ul.bjqs .bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
/* line 705, ../sass/storepages.scss */
ul.bjqs .bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}

/* line 711, ../sass/storepages.scss */
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 717, ../sass/storepages.scss */
ol.bjqs-markers.h-centered {
  text-align: center;
}
/* line 720, ../sass/storepages.scss */
ol.bjqs-markers li {
  display: inline;
}
/* line 723, ../sass/storepages.scss */
ol.bjqs-markers li a {
  display: inline-block;
}

/* line 727, ../sass/storepages.scss */
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

/* Filter button - filter not added at this time 7/3/13 JAMIE */
/* line 738, ../sass/storepages.scss */
.filter-wrapper {
  position: absolute;
  width: 386px;
  z-index: 9999;
}
/* line 743, ../sass/storepages.scss */
.filter-wrapper .filter-btn {
  display: inline-block;
  float: right;
}
/* line 749, ../sass/storepages.scss */
.filter-wrapper input[type="button"],
.filter-wrapper ul.filter-dropdown {
  border: 1px solid #eee;
  background: #eee;
  font-size: 12px;
  outline: none;
  padding: 6px 5px 6px 22px;
  float: right;
  margin: 3px 0px;
  color: #0055a7;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}
/* line 762, ../sass/storepages.scss */
.filter-wrapper ul.filter-dropdown {
  float: left;
  list-style: none;
  width: 360px;
  padding: 6px 5px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 773, ../sass/storepages.scss */
.filter-wrapper ul.filter-dropdown li {
  font-size: 12px;
  float: left;
  width: 50%;
}
/* line 778, ../sass/storepages.scss */
.filter-wrapper ul.filter-dropdown li input[type="checkbox"] {
  float: left;
  margin: 10px 4px 0 5px;
}
/* line 783, ../sass/storepages.scss */
.filter-wrapper ul.filter-dropdown li.filter-title {
  width: 348px;
  border: 1px solid #fff;
  clear: both;
  background: #ddd;
  font-size: 10px;
  text-transform: uppercase;
  color: #444;
  height: 14px;
  line-height: 14px;
  padding: 5px;
}
/* line 798, ../sass/storepages.scss */
.filter-wrapper span {
  position: absolute;
  top: 3.5px;
  right: 45px;
  width: 20px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}
/* line 808, ../sass/storepages.scss */
.filter-wrapper span.filter-up {
  background-image: url(../images/filter-up.png);
}
/* line 809, ../sass/storepages.scss */
.filter-wrapper span.filter-down {
  background-image: url(../images/filter-down.png);
}
/* line 812, ../sass/storepages.scss */
.filter-wrapper .filter-search {
  background: #f2f2f2 url(../icons/search.png) no-repeat center center;
  height: 43px;
  width: 50px;
  float: left;
  border: none;
  margin: 3px 0px;
  border: 1px solid #fff;
  -moz-box-shadow: 1px 1px 3px #555;
  -webkit-box-shadow: 1px 1px 3px #555;
  -box-shadow: 1px 1px 3px #555;
  outline: none;
  cursor: pointer;
}
/* line 826, ../sass/storepages.scss */
.filter-wrapper .filter-search:hover {
  background-color: #fff;
}
