<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!--> 
  <html lang="en"> 
<!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <title>Sears | {% block title %}{% endblock %}</title>
    {% load servingtags %}
    <link rel="stylesheet" href="{% hash "stylesheets/storepages.css" %}" type="text/css" />
    {% block head %}{% endblock %}
  </head>
  <body id="{% block id %}store-pages{% endblock %}" class="store-pg {% block class %}{% endblock %}">
    <div class="top-head">
      <img src="images/sears-top-head.png" >
    </div>
    <div id="page-container">
      <div id="header" class="cf">
        <div class="logo">
          <img src="images/sears-logo.png" />
        </div>
        <div class="sub-head">
          <ul id="nav">
            <li class="storeLocater">
              <a href="" id="storeLocater" >Store Locator</a>
            </li>
            <li class="emailSavings">
              <a href="" id="emailSavings">Email Savings</a>
            </li>
            <li class="custService">
              <a href="" id="custService">Customer Service</a>
            </li>
            <li class="searsCC">
              <a href="" id="searsCC">Sears Credit Cards</a>
            </li>
            <li class="giftCards">
              <a href="" id="giftCards">Gift Cards</a>
            </li>
            <li class="DOD intShipHide">
              <a href="" id="DOD">Deals Of the Day</a>
            </li>
          </ul>
          <div class="search">
            <input class="search-box" type="text" name="search" placeholder="Find something great..." >
            <input class="search-btn" type="submit" src="images/sears-search.png" name="submit" value="Search" >
          </div>
        </div>
      </div>
      <div id="page-content">
          {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>

