<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!--> 
  <html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="../images/sears-favicon.png" />
    <title>${name} | Sears Location</title>
    <link rel="stylesheet" href="../css/storepages.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.shorten.js"></script>
    <script src="../js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBzY9j4mYywVqpPXm9AdmWgMwgg3G5rTHY&sensor=false"></script> 
    <script type="text/javascript" src="../js/storepages.js"></script>
  </head>
  <body id="location-page" class="store-pg store-location-page">
    <div class="top-head">
      <img src="../images/sears-top-head.png" >
    </div>
    <div id="page-container">

    </div>
    <script language="javascript">
    $(function() {  
      var storepages = new Storepages();
      storepages.locationMap(${latLng.latitude}, ${latLng.longitude});
    });
    </script>
  </body>
</html>

