<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!--> 
  <html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="../images/sears-favicon.png" />
    <title>${name} | Sears Location</title>
    <link rel="stylesheet" href="../css/storepages.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.shorten.js"></script>
    <script src="../js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBzY9j4mYywVqpPXm9AdmWgMwgg3G5rTHY&sensor=false"></script> 
    <script type="text/javascript"> 
      function initialize() {
        var myLatlng = new google.maps.LatLng(41.2197356,-73.71625540000002);
        var mapOptions = {
          zoom: 15,
          center: myLatlng,
          scrollwheel: false,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("location-map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
      }

      google.maps.event.addDomListener(window, "load", initialize);
    </script>
  </head>
  <body id="location-page" class="store-pg store-location-page">
    <div class="top-head">
      <img src="../images/sears-top-head.png" >
    </div>
    <div id="page-container">
      <div id="header" class="cf">
        <div class="head-left">
          <div class="logo">
            <img src="../images/sears-logo.png" />
          </div>
          <div class="sub-head">
            <ul id="nav">
              <li class="storeLocater">
                <a href="" id="storeLocater" >Store Locator</a>
              </li>
              <li class="emailSavings">
                <a href="" id="emailSavings">Email Savings</a>
              </li>
              <li class="custService">
                <a href="" id="custService">Customer Service</a>
              </li>
              <li class="searsCC">
                <a href="" id="searsCC">Sears Credit Cards</a>
              </li>
              <li class="giftCards">
                <a href="" id="giftCards">Gift Cards</a>
              </li>
              <li class="DOD intShipHide">
                <a href="" id="DOD">Deals Of the Day</a>
              </li>
            </ul>
            <div class="search">
              <input class="search-box" type="text" name="search" placeholder="Find something great..." >
              <input class="search-btn" type="submit" src="../images/sears-search.png" name="submit" value="Search" >
            </div>
          </div>
        </div>
        <div class="head-right">
          <img src="../images/sears-head-right.png">
        </div>
      </div>
      <div id="page-content" class="cf">
        <div class="sub-nav">
          <div class="nav">
            <a href="search.html">Find a store</a> <span class="divide">></span> Sears Home Appliance Showroom
          </div>
        </div>
        <div class="main-content location-content cf">
          <div class="page-head cf">
            <div class="location-image">
              <img src="../images/sears-location-head.png" style="float: left;">
            </div>
            <div id="location-map" style="width: 300px; height: 250px; float: left;"></div> 
            <noscript><p><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
              However, it seems JavaScript is either disabled or not supported by your browser. 
              To view Google Maps, enable JavaScript by changing your browser options, and then 
              try again.</p>
            </noscript>  
          </div>
          <div class="left-content">
            <h2>${name}</h2>
            <div class="location-info">
              <div class="location-address cf">
                <div class="left">
                  ${address}<br>
                  ${city}, ${state} ${postalCode}
                </div>
                <div class="right">
                  ${mainPhone}<br>
                  <a href="mailto:${mainEmail}">${mainEmail}</a>
                </div>
              </div>
              <div class="location-description">
                ${description}
              </div>
            </div>
            <div class="location-specifics cf">
              <div class="location-hours left">
                <h3>Hours</h3>
                <table class="location-hours-table">
                  #{list hours.day}
                    <tr>
                      <td>${_}</td>
                      <td>${hours[_].intervals.start}</td>
                    </tr>
                  #{/list}
                  
                </table>
              </div> 
              <div class="location-services right">
                <h3>Services</h3>
                <ul class="location-services-list">
                  #{list services}
                    <li>${_}</li>
                  #{/list}
                </ul>
              </div>       
            </div>
          </div>
          <div class="right-content">
            <div class="location-featured-msg">
              <div class="circle"><span class="current-special">Current Special</span></div>
              ${featuredMessage.description}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script language="javascript">
      $(document).ready(function() {        
        $(".location-description").shorten({showChars: 430});
       });
    </script>
  </body>
</html>

