{namespace default}

/**
 * @param location A profile proto (zach is wach)
 */
{template .storepage}
  <div id='yext-location'>
    <h1>{$location.name.value}</h1>
    <div id='yext-address'>
      {$location.address.value} {$location.address2.value}<br>
      {$location.city.value}, {$location.state.value} {$location.postalCode.value}<br>
      {$location.country.value}
   </div>
   <div id='yext-phones'>
      {foreach $phone in $location.phones.phoneList}
        {$phone.type}: {$phone.number}<br>
      {/foreach}
   </div>
  </div>
{/template}