.filter_wrapper{
	position: absolute;
	width: 386px;
	z-index: 9999;

	.filter-btn {
		display: inline-block;
		float: right;
	}

	input[type="button"],
	ul.filter_dropdown {
		border: 1px solid #eee;
		background: #eee; 
		font-size: 12px;
		outline: none;
		padding: 6px 5px 6px 22px;
		float: right;
		margin: 3px 0px;
		color: #0055a7;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: normal;
	}
}
ul.filter_dropdown{
	float:left;
	list-style:none;
	width:360px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
ul.filter_dropdown li{
	font-size: 12px;
	float: left;
	width: 50%;
}
ul.filter_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.filter_dropdown li.filter_title{
	width: 348px;
	border: 1px solid #fff;
	clear: both;
	background: #ddd;
	font-size: 10px;
	text-transform: uppercase;
	color: #444;
	height: 14px;
	line-height: 14px;
	padding: 5px;
}
span.filter_up,
span.filter_down{
	position: absolute;
	top: 3.5px;
	right: 45px;
	width: 20px;
	height: 25px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 10;	
}
span.filter_up{
	background-image:url(../images/filter-up.png);
}
span.filter_down{
	background-image:url(../images/filter-down.png);
}
input.filter_search{
	background:#f2f2f2 url(../icons/search.png) no-repeat center center;
	height:43px;
	width:50px;
	float:left;
	border:none;
	margin:3px 0px;
	border:1px solid #fff;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
}
input.filter_search:hover{
	background-color:#fff;
}